<div class="navbar flex-container flex-align-center">
    <a href="{{ .Site.BaseURL }}" class="navbar-item not-hoverable"><img src='{{ "img/full-logo.svg" | absURL }}' /></a>

    <div class="navbar-burger flex-container flex-column space-between" data-target="main-navigation">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="main-navigation" class="navbar-menu flex-container ">
        <div class="navbar-start flex-container">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Solutions</a>
                <div class="navbar-dropdown flex-container flex-column">
                    <a href="https://www.automox.com/visibility" class="navbar-item">Visibility</a>
                    <a href="https://www.automox.com/automation" class="navbar-item">Automation</a>
                    <a href="https://www.automox.com/control" class="navbar-item">Control</a>
                </div>
            </div>

            <a href="https://www.automox.com/how-it-works" class="navbar-item">How It Works</a>

            <a href="https://www.automox.com/pricing" class="navbar-item">Pricing</a>

            <a href="{{ .Site.BaseURL }}" class="navbar-item">Documentation</a>

            <a href="https://www.automox.com/support" class="navbar-item">Support</a>

            <a href="https://www.automox.com/blog" class="navbar-item">Blog</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Contact</a>
                <div class="navbar-dropdown flex-container flex-column">
                    <a class="lets talk navbar-item">Email</a>
                    <a href="https://www.facebook.com/automox" class="navbar-item">Facebook</a>
                    <a href="https://twitter.com/automoxapp" class="navbar-item">Twitter</a>
                    <a href="https://www.linkedin.com/company/automox" class="navbar-item">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button" href="https://www.automox.com/signup">Try It For Free</a>
            </div>
            <a class="navbar-item" href="https://console.automox.com/login" id="sign-in"> Sign in </a>
        </div>
    </div>

</div>
