
.navbar {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    position: relative;
    padding: .9rem 0;
    background: #0a0a0a;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.navbar-burger {
    height: 2.8rem;
    width: 2.8rem;
    position: absolute;
    left: 10px;
}

.navbar-burger:hover {
    cursor: pointer;
}

.navbar-burger span {
    transition: all 0.3s ease;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    height: 7px;
    border-radius: 3px;
}

.navbar-burger.is-active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
    opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.navbar-brand a {
    height: 39px;
}

.navbar-start {

}

.navbar-item {
    z-index: 1;
    color: white;
    padding: 0 1rem;
    text-decoration: none;
    font-family: "Gotham Rounded", sans-serif;
    font-size: 14px;
    letter-spacing: 0.23px;
    font-weight: lighter;
    text-transform: uppercase;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1.5;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-item.has-dropdown {
    align-items: stretch;
}

.navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block
}

.navbar-item.is-hoverable:hover {
    cursor: pointer;
}

.navbar-item::before {
    position: absolute;
    content: '';
    bottom: 0;
    top: auto;
    left: 50%;
    width: 0;
    height: 2px;
    opacity: 1;
    transition: all 0.2s ease;
    background: #4A90E2;
}

.navbar-item:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    left: 5%;
    width: 90% !important;
}

.navbar-item.not-hoverable:hover:before {
    display: none;
}

.navbar .has-dropdown .navbar-dropdown {
    transition: all 0.3s ease;
    border-radius: 0;
    border: none;
}

.navbar-dropdown {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.navbar .has-dropdown .navbar-dropdown .navbar-item {
    color: #878d98;
}

.navbar-menu {
    align-items: center;
    display: none;
}

.navbar.mobile .navbar-menu {
    display: block;
    position: fixed;
    background: #0a0a0a;
    top: 0px;
    margin-top: 75px;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.navbar.mobile .navbar-start,
.navbar.mobile .navbar-end,
.navbar.mobile .navbar-item {
    flex-direction: column;
    align-items: flex-start;
}

.navbar.mobile .navbar-item {
    padding: 8px 16px;
}

.navbar.mobile .navbar-dropdown .navbar-item {
    padding: 8px;
}

.navbar.mobile .navbar-item:hover:before {
    display: none;
}

.navbar-item.has-dropdown .navbar-link {
    font-weight: 400;
}

.documentation-desktop {
    display: none;
}

.documentation-mobile a {
    text-decoration: none;
    color: white;
}

.button {
    background: #4A90E2;
    color: #fff;
    border-radius: 4px;
    padding: 7px 13px;
    transition: all .2s ease;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    max-width: 244px;
}

#sign-in {
    transition: all 0.1s ease;
    text-transform: none;
}

@media screen and (min-width: 1280px) {
    .navbar, .navbar.mobile  {
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: flex-start;
    }

    .documentation-desktop {
        display: flex;
    }

    .documentation-mobile {
        display: none;
    }

    .navbar-burger {
        display: none;
    }

    .mobile .navbar-burger {
        display: block;
    }

    .navbar-menu {
        flex-grow: 1;
        display: flex;
    }

    .navbar .has-dropdown .navbar-dropdown {
        background: #0a0a0a;
    }

    .navbar-dropdown {
        display: none;
        box-shadow: 0 8px 8px rgba(10,10,10,0.1);
        font-size: 0.875rem;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 100%;
        z-index: 20;
    }

    .navbar .has-dropdown .navbar-dropdown .navbar-item {
       padding: 0.2rem 1rem;
    }

    .navbar .has-dropdown .navbar-link {
        border: 1px solid transparent;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        margin-right: -10px;
    }

    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block;
    }

    .navbar-link::after {
        box-sizing: border-box;
        border: 1px solid #4A90E2;
        border-right: 0;
        border-top: 0;
        content: " ";
        display: block;
        height: 0.5em;
        pointer-events: none;
        position: absolute;
        transform: rotate(-45deg);
        transform-origin: center;
        width: 0.5em;
        margin-top: -0.375em;
        right: 1.125em;
        top: 50%;
    }

    .navbar-start {
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-end {
        justify-content: flex-end;
        margin-left: auto;
        align-items: stretch;
        display: flex;
    }
}
