<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}/stylesheets/reset.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}/stylesheets/style.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}/stylesheets/icomoon.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}/stylesheets/header.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}/stylesheets/footer.css">
     <link rel="stylesheet" href="{{ .Site.BaseURL }}/stylesheets/algolia_search.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
     <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
     <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
     <script src="{{ .Site.BaseURL }}/javascripts/algolia_search.js"></script>
     <title>{{ .Title }}</title>
</head>
<body>
     {{ partial "header" . }}

     <div class="hero doc-hero section">
          <div class="container flex-container flex-column flex-align-center">
               <h1>{{ .Title }}</h1>
               <p class="description">{{ .Description }}</p>
          </div>
     </div>


     <div class="main section">
          <div class="container flex-container space-between">

               <div class="main-content">
                    {{ .Content }}
               </div>

               <div class="sidebar flex-container flex-column" data-fixed-sidebar="{{ .Params.fixedSidebar | default true }} ">
                    <div class="doc-nav flex-container flex-column">
                         <div class="scrollable">
                              <p class="documentation-nav"> Documentation Navigation </p>
                              <hr>
                              {{ partial "nav" . }}

                              {{ if .Params.relatedDocuments }}
                              <p class="documentation-nav"> Related Documents </p>
                              <hr>

                              <ul class="hide">
                                   {{ range .Params.relatedDocuments }}
                                   <li>
                                        <a href="{{ .url }}">{{ .title }}</a>
                                   </li>
                                   {{ end }}
                              </ul>
                              {{ end }}

                              <p class="documentation-nav"> Search </p>
                              <hr>
                              <div class="hide">
                                   {{ partial "algolia_search" }}
                              </div>
                         </div>
                    </div>
               </div>

          </div>
     </div>

     {{ partial "modal" . }}

     {{ partial "footer" . }}
</body>
</html>